
    <div id="footer" class="clearfix">
    <div class="content_width">
        <div id="footer_logo">
            <img src="images/footer_logo.png" alt="" />
        </div>
        <nav id="footer_menu">
            <ul>
                <li><a href="#">ГЛАВНАЯ</a></li>
                <li><a href="#">Предложение</a></li>
                <li><a href="#">Инвесторам</a></li>
                <li><a href="#">Партнерам</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Наши партнеры</a></li>
            </ul>
        </nav>
        <div id="footer_content">

            <div id="footer_feedback">
                <h3>Задать вопрос</h3>
                <form id="feedback_form" method="post" action="processform.php">
                    <input type="text" name="name" placeholder="Имя/компания" />
                    <input type="email" name="email" placeholder="E-mail" />
                    <textarea placeholder="Сообщение" name="msg"></textarea>
                    <button type="submit" class="submit clear">Отправить</button>
                    <div class="sent_result" id="sendresult1"></div>
                </form>
            </div>
            <div id="payment_methods">
                <h3>Принимаем к оплате</h3>
                <div id="payment_inner" class="clearfix">
                    <img src="images/pay_1.png" alt="" />
                    <img src="images/pay_2.png" alt="" />
                    <img src="images/pay_3.png" alt="" />
                    <img src="images/pay_4.png" alt="" />
                    <img src="images/pay_5.png" alt="" />
                    <img src="images/pay_6.png" alt="" />
                    <img src="images/pay_7.png" alt="" />
                    <img src="images/pay_8.png" alt="" />
                </div>
            </div>
            <div id="socials">
                <h3>Порекомендуйте</h3>
                <div class="clearfix">
                    <a class="social fb" href="#"></a>
                    <a class="social gplus" href="#"></a>
                    <a class="social in" href="#"></a>
                    <a class="social tw" href="#"></a>
                </div>
                <div id="copyright">
                    <p>&copy; 2015. ForexCrystal LTD.<br/>Все права защищены.</p>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

</body>
</html>