@media screen and(max-width: 1100px){
  .list-offer {
    p {
      br{
        display: none;
      }
    }

  }
}

@media screen and(max-width: 870px){
  .list-offer {
    li{
      width: 48%;
    }
  }
}

@media screen and(max-width: 899px){
  .article {
    min-height: 300px;
  }
  .title-article {
    padding: 30px 5%;
    width: 42%;
  }
  .successful {
    .figcaption {
      padding: 0;
    }
  }
  .wr-table{
    tr{
      td{
        &:first-child {
          padding-left: 10px;
        }
      }
    }
    td {
      padding: 12px 0;

    }
  }



}


@media screen and(max-width: 650px){
  .title-article{
    h4 {
      font-size: 18px;
    }
  }
}


@media screen and(max-width: 580px){
  .title-article{
    display: none;
  }
  .article {
    min-height: 170px;
  }
  .successful {
    .figcaption{
      float: none;
      width:100%;
    }
    figure{
      float: none;
      width:80%;
      margin:0 auto 20px;
    }
  }
  .list-offer {
    li{
      width: 100%;
    }
    p{
      br{
        display: block;
      }
    }
  }

}
@media screen and(max-width: 370px){

  .list-offer {
    p{
      br{
        display: none;
      }
    }
  }

}